@import "./color_schemes/dark";

$dark-red: #a00;
$red: #ff2a2a;
$light-red: #faa;
$primary: $light-red;

$link-color: $light-red;

code.language-mermaid > svg {
	background-color: #aaa !important;
}
